{{!-- Row 1 :- date range filter --}}
<section id="date-filter">
    <form id="date=filter" onsubmit="filterDate(); return false">
        <div class="form-group">
            <label for="start-date">Start Date</label>
            <input type="date" class="form-control" id="start-date" aria-describedby="start-date-help" required>
            <small id="start-date-help" class="form-text text-muted">The data will be displayed from this date</small>
        </div>
        <div class="form-group">
            <label for="end-date">End Date</label>
            <input type="date" class="form-control" id="end-date" aria-describedby="end-date-help" max={new Date()} required>
            <small id="end-date-help" class="form-text text-muted">The data will be displayed till this date</small>
        </div>
        <button type="submit" class="btn btn-primary">Filter Data</button>
    </form>
</section>

{{!-- Row2– Detail Order Report --}}
<section id="report-table">
    <h4>Detailed Order Report</h4>
    <table class="table table-hover table-dark">
    <thead>
        <tr>
        <th scope="col"></th>
        <th scope="col">UserName</th>
        <th scope="col">OrderNo</th>
        <th scope="col">OrderDate</th>
        <th scope="col">Status</th>
        <th scope="col">TotalAmount</th>
        <th scope="col">TotalQty</th>
        <th scope="col">View/Edit</th>
        </tr>
    </thead>

    <tbody id="detailed-data">
        {{#each data}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.UserName}}</td>
                <td>{{this.OrderNo}}</td>
                <td>{{this.OrderDate}}</td>
                <td>{{this.OrderStatus}}</td>
                <td>{{this.TotalAmount}}</td>
                <td>{{this.TotalQty}}</td>
                <td><a href="/edit_data?id={{this.OrderNo}}">View/Edit</a></td>
            </tr>
            
        {{/each}}
    </tbody>
    </table>
</section>